%test {
  position: absolute;
  content: '';
  transition: all 0.5s;
}

.card {
  position: relative;
  width: 500px;
  height: 267px;
  background-image: url('https://images.unsplash.com/photo-1618846446712-a4eda2adc05f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-position: center center;
  top: 200px;
  left: 350px;
  display: inline-block;
  padding: 20px 40px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateX(-35deg) rotateY(13deg) rotateZ(25deg);
  background-color: #3c3d42;

  &::before {
    @extend %test;
    bottom: -5px;
    height: 5px;
    width: 100%;
    left: 3px;
    transform: skewX(45deg);
    background-color: darken(#3c3d42, 20%);
  }

  &::after {
    @extend %test;
    right: -5px;
    height: 100%;
    width: 5px;
    bottom: -3px;
    transform: skewY(45deg);
    background-color: darken(#3c3d42, 30%);
  }

  .hide {
    @extend %test;
    height: 0%;
    width: 100%;
    left: 0px;
    bottom: 0;
    background-color: red;
  }
}
